*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}

body{
    font-family: 'whitney',sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


header{
    background-color: #3161e0;
    line-height: 60px;
    font-size: 12px;
}

header img{
    vertical-align: middle;
}

.container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.nav{
    width: calc(100% - 240px);
    text-align: center;
}

.nav li{
    display: inline;
    list-style-type: none;
    margin: 0 5%;

}

.bttn{
    display: inline;
    background-color: white;
    color: rgb(27, 26, 26);
    text-decoration: none;
    text-align: center;
}

.login{
    width: 10%;
}

section.jumbotron{
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
section.jumbotron .container{
    padding-top: 100px;
    text-align: center;
    color:white;
}

section.jumbotron h1,
section.jumbotron p,
section.jumbotron a{
    margin-bottom: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.7rem;
}

p{
    font-size: 1.5rem;
    line-height: 2rem;
}

.jumbo-bttn{
    background-color: white;
    color: black;
    

}

.bg-black{
    background-color: black;
    color: white;
}


.main-content{
    width: 100%;
    height: 500px;
    border: 1px solid greenyellow;
    margin-top: 5%;
}

aside.text{
    width: 40%;
    height: 500px;
    border: 1px solid salmon;
    padding-top: 30px;
}

aside.img{
    width: 60%;
    height: 500px;
    border: 1px solid red;
}

main p{
    padding-top: 30px;
}

main img{
    object-fit: contain;
    width: 100%;
}